

<div class="tz-gallery">

  <div class="row">
      <div class="col-sm-6 col-md-4">
          <a class="lightbox" href="../../assets/images/park.jpg">
              <img src="../../assets/images/park.jpg" alt="Park">
          </a>
      </div>
      <div class="col-sm-6 col-md-4">
          <a class="lightbox" href="../../assets/images/bridge.jpg">
              <img src="../../assets/images/bridge.jpg" alt="Bridge">
          </a>
      </div>
      <div class="col-sm-12 col-md-4">
          <a class="lightbox" href="../../assets/images/tunnel.jpg">
              <img src="../../assets/images/tunnel.jpg" alt="Tunnel">
          </a>
      </div>
      <div class="col-sm-6 col-md-4">
          <a class="lightbox" href="../../assets/images/coast.jpg">
              <img src="../../assets/images/coast.jpg" alt="Coast">
          </a>
      </div>
      <div class="col-sm-6 col-md-4">
          <a class="lightbox" href="../../assets/images/rails.jpg">
              <img src="../../assets/images/rails.jpg" alt="Rails">
          </a>
      </div>
      <div class="col-sm-6 col-md-4">
          <a class="lightbox" href="../../assets/images/traffic.jpg">
              <img src="../../assets/images/traffic.jpg" alt="Traffic">
          </a>
      </div>
      <div class="col-sm-6 col-md-4">
          <a class="lightbox" href="../../assets/images/rocks.jpg">
              <img src="../../assets/images/rocks.jpg" alt="Rocks">
          </a>
      </div>
      <div class="col-sm-6 col-md-4">
          <a class="lightbox" href="../../assets/images/benches.jpg">
              <img src="../../assets/images/benches.jpg" alt="Benches">
          </a>
      </div>
      <div class="col-sm-6 col-md-4">
          <a class="lightbox" href="../../assets/images/sky.jpg">
              <img src="../../assets/images/sky.jpg" alt="Sky">
          </a>
      </div>
  </div>

</div>



<script>
baguetteBox.run('.tz-gallery');
</script>
