#container-nav {
    
}

#list-nav {
    list-style-type: none;
}

#list-nav li {
    display: inline;
}

.links-nav {
    color: black;
    text-decoration: none;
}

.links-nav:link, .links-nav:visited, .links-nav:hover, .links-nav:visited {
    color: black;
    text-decoration: none;
}

.navbar-dark{
    background-color: #213ca2 !important;
    background: linear-gradient(90deg,#213ca2,#0A1365);
}

.fa-clock-o{
    color: white;
}

.fa-upload{
    color: white;
}

.fa-user{
    color: white;
}
.navbar-nav{
    align-items: center;
}

.navbar-expand-lg{
    display: flex !important;
	align-items: center;
	justify-content: center;
}

.navbar-collapse{
    align-items: center;
    justify-content: center;
}

#latest1{
    margin-left: 10%;
}

#latest2{
    margin-right: 10%;
}

#upload1{
    margin-left: 10%;
    
}

#upload2{
    margin-right: 10%;
}

#users1{
    margin-left: 10%;
    
}

#users2{
    margin-right: 10%;
}

#placeholder{
    width: 60px;
}

