#container-nav {
    
}

#list-nav {
    list-style-type: none;
}

#list-nav li {
    display: inline;
}

.links-nav {
    color: black;
    text-decoration: none;
}

.links-nav:link, .links-nav:visited, .links-nav:hover, .links-nav:visited {
    color: black;
    text-decoration: none;
}

.navbar-dark{
    background-color: #213ca2 !important;
    background: linear-gradient(30deg,#213ca2,#0A1365);
}

.fa-clock-o{
    color: white;
}

.fa-upload{
    color: white;
}

.fa-user{
    color: white;
}
.navbar-nav{
	align-items: center;
}

.navbar-expand-lg{
    display: flex !important;
	align-items: center;
	justify-content: center;
}

.navbar-collapse{
    align-items: center;
    justify-content: center;
}


