<!--<div id="container-nav">
    <nav>
      <ul id="list-nav">
        <li>
          <a class="links-nav" routerLink="/latest"><i class="material-icons">access_time</i><span>Latest</span></a>
        </li>
        <li>
          <a class="links-nav" routerLink="/upload"><i class="material-icons">file_upload</i><span>Upload</span></a>
        </li>
        <li>
        <a class="links-nav" routerLink="/users"><i class="material-icons">group</i><span>Users</span></a>
        </li>
      </ul>
    </nav>
  </div>>-->

  <!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark secondary-color">

  <!-- Navbar brand -->
  <!--<a class="navbar-brand" href="#">Navbar</a>-->

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

      <!-- Links -->
      <ul class="navbar-nav">
          <i class="fa fa-clock-o" aria-hidden="true" routerLink="/latest"></i>
          <li class="nav-item">
              <a class="nav-link" href="/latest">Latest
                  <!--<span class="sr-only">(current)</span>-->
              </a>
          </li>
          <i class="fa fa-upload" aria-hidden="true" routerLink="/upload"></i>
          <li class="nav-item">
              <a class="nav-link" href="/upload">Upload</a>
          </li>
          <i class="fa fa-user" aria-hidden="true" routerLink="/users"></i>
          <li class="nav-item">
              <a class="nav-link" href="/users" >Users</a>
          </li>

          <!-- Dropdown -->
          <!--<li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
              </div>
          </li>-->

      </ul>
      <!-- Links -->

      <!--<form class="form-inline">
          <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          </div>
      </form>-->

  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->
