<div id="container-nav">
    <nav>
      <ul id="list-nav">
        <li>
          <a class="links-nav" routerLink="/latest"><i class="material-icons">access_time</i><span>Latest</span></a>
        </li>
        <li>
          <a class="links-nav" routerLink="/upload"><i class="material-icons">file_upload</i><span>Upload</span></a>
        </li>
        <li>
        <a class="links-nav" routerLink="/users"><i class="material-icons">group</i><span>Users</span></a>
        </li>
      </ul>
    </nav>
  </div>
