<form method="POST" action="localhost:8080/user" accept-charset="UTF-8" class="startpage-box" id="login">
  <h3>
      <i class="material-icons">https</i>Login
  </h3>
  <div class="oneline-left">
    <label for="username">
        <i class="material-icons">account_box</i>
    </label>
    <input id="username" placeholder="User Name" required="required" name="username" type="text">
  </div>
  <div class="oneline-right">
    <label>
        <i class="material-icons">vpn_key</i>
    </label>
    <input id="password" placeholder="Password" required="required" name="password" value="">
  </div>
  <button type="submit">
      <i class="material-icons">exit_to_app</i>Login
    </button>
</form>
