<form method="POST" action="/login" accept-charset="UTF-8" class="startpage-box" id="register">
  <h3>
    <i class="material-icons">perm_identity</i>Register
  </h3>
  <div class="oneline">
    <label for="username">
      <i class="material-icons">account_box</i>
    </label>
    <input placeholder="User Name" required="required" name="username" type="text">
  </div>
  <div class="oneline">
    <label for="email">
      <i class="material-icons">email</i>
    </label>
    <input placeholder="Email" required="required" name="email" type="email">
  </div>
  <div class="oneline-left">
    <label for="password">
      <i class="material-icons">vpn_key</i>
    </label>
    <input placeholder="Password" required="required" name="password" type=password value="">
  </div>
  <div class="oneline-right">
    <label for="password_confirmation">
      <i class="material-icons">vpn_key</i>
    </label>
    <input placeholder="Repeat Password" required="required" name="password_confirmation" type=password value="">
  </div>
  <button type="submit">
    <i class="material-icons">done</i>Register
  </button>
</form>
