<!-- Material form register -->
<form #userForm="ngForm" class="form-horizontal" id="register" class="startpage-box" accept-charset="UTF-8">
  <p class="h4 text-center mb-4">Register</p>

  <!-- Material input text -->
  <div class="md-form">
      <i class="fa fa-user prefix grey-text"></i>
      <input [(ngModel)]="user.name" type="text" required="required" name="name" id="materialFormRegisterNameEx" class="form-control" placeholder="User name">
      <label for="materialFormRegisterNameEx"></label>
  </div>

  <!-- Material input email -->
  <div class="md-form">
      <i class="fa fa-envelope prefix grey-text"></i>
      <input [(ngModel)]="user.email" type="email" name="email" required="required" id="materialFormRegisterEmailEx" class="form-control" placeholder="Email">
      <label for="materialFormRegisterEmailEx"></label>
  </div>

  <!-- Material input password -->
  <div class="md-form">
      <i class="fa fa-lock prefix grey-text"></i>
      <input [(ngModel)]="user.password" name="password" type="password" required="required" id="materialFormRegisterPasswordEx" class="form-control" placeholder="Password">
      <label for="materialFormRegisterPasswordEx"></label>
  </div>

    <!-- Material input password -->
    <div class="md-form">
      <i class="fa fa-lock prefix grey-text"></i>
      <input type="password" name="password_confirmation" required="required" id="materialFormRegisterPasswordEx" class="form-control" placeholder="Confirm your password">
      <label for="materialFormRegisterPasswordEx"></label>
  </div>

  <div class="text-center mt-4">
      <button (click)="registerUser()" class="btn btn-primary" type="submit">Register</button>
  </div>
</form>
<!-- Material form register -->